<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Car Rental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentals" routerLinkActive="active">Rentals</a> <!-- Add this line -->
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
